#consumption-page > .row {
  margin: 25px 0;
}

#consumption-page .dropdown {
  text-align: right;
}

#consumption-page .time-period-selection-container {
  text-align: right;
}

#consumption-page .time-period-selection-container .btn-group {
  padding-right: 15px;
}

#consumption-page .usage-summary {
  display: inline-block;
  margin-top: 10px;
}

#consumption-page .usage-summary .glyphicon {
  color: #43953a;
  margin-left: 5px;
}
