.date-range-selector .range {
  color: #43953a;
  text-align: center;
  margin-top: 6px;
  font-size: 18px;
}

.date-range-selector .btn-default {
  border-color: transparent;
  color: rgba(67, 149, 58, 0.5);
}
